service-catalogs/node_modules/
service-catalogs/.nyc_output/
service-catalogs/coverage/
service-paiement/node_modules/
service-paiement/.nyc_output/
service-paiement/coverage/
service-detail/node_modules/
service-detail/.nyc_output/
service-detail/coverage/
service-authentification/node_modules/
service-authentification/.nyc_output/
service-authentification/coverage/
service-view/node_modules/
service-comment/node_modules/
service-comment/.nyc_output/
service-comment/coverage/
db-test
mongoDb