.example-card {
    max-width: 400px;
    max-height: 600px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  img {
      height: 300px;
  }
  mat-card-header{
      height: 50px;
  }
  .example-icon {
    padding: 0 14px;
    cursor: pointer;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }