<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Film à la demande</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>


<div class="signin-content">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <p *ngIf="isLogging">Please login to continue</p>
          <p *ngIf="!isLogging">Please register to continue</p>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="isFieldInvalid('email')">
              Remplissez votre email
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="isFieldInvalid('email')">
              Please inform your password
            </mat-error>
          </mat-form-field>
          <div *ngIf="emailAlreadyExist">
            Error email already exist
          </div>
          <button *ngIf="isLogging" mat-raised-button color="primary">Login</button>
          <button *ngIf="!isLogging" mat-raised-button color="primary">Register</button>
        </form>
        <button *ngIf="!isLogging" (click)="goToLogin()" style="margin-top: 20px;" mat-raised-button>Login</button>
        <button *ngIf="isLogging" (click)="goToRegister()" style="margin-top: 20px;" mat-raised-button>Register</button>
      </mat-card-content>
    </mat-card>
  </div>