<div *ngIf="authorizeConnexion">
  <h1 mat-dialog-title>Vos identifiants sont incorrects.</h1>

<div fxLayoutAlign="center" mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">Ok</button>
</div>
</div>

<div *ngIf="failIdentifiants">
  <h1 mat-dialog-title>Erreur, l'email existe déjà.</h1>

<div fxLayoutAlign="center" mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">Ok</button>
</div>
</div>


<div *ngIf="correctRegister">
  <h1 mat-dialog-title>Votre compte a bien été créé</h1>

<div fxLayoutAlign="center" mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">Ok</button>
</div>
</div>